// Colors
$dark-grey: #333;
$grey: #666;
$light-grey: #888;
$off-white: #f4f4f4;

$dark-blue: #1d3f72;
$blue: #5699d2;

// Font Sizes

$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 58rem;